* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    height: 100vh; 
}

#container {
    width: 90vmin; 
    height: 70vmin;
    background-color: black;
}

.cursor {
    width: 45px;
    height: 70px;
    background-size: cover;
    transform: rotate(-20deg);
}

.cursor:nth-child(1) {
    background-image: url(./imgs/1.svg);
    z-index: 3;
}

.cursor:nth-child(2) {
    background-image: url('./imgs/2.svg');
}

.cursor:nth-child(3) {
    background-image: url('./imgs/3.svg');
}

.cursor:nth-child(4) {
    background-image: url('./imgs/4.svg');
}

.cursor:nth-child(5) {
    background-image: url('./imgs/5.svg');
}

.cursor:nth-child(6) {
    background-image: url('./imgs/6.svg');
}

.cursor:nth-child(7) {
    background-image: url('./imgs/7.svg');
}

.cursor:nth-child(8) {
    background-image: url('./imgs/8.svg');
}